<?xml version="1.0"?>
<config>
	<modules>
		<SliRx_PaymentMethod>
			<version>0.1.1</version>
		</SliRx_PaymentMethod>
	</modules>
	<global>
		<fieldsets>
			<sales_convert_quote_payment>
				<billing_code>
					<to_order_payment>*</to_order_payment>
				</billing_code>
				<billing_date>
					<to_order_payment>*</to_order_payment>
				</billing_date>
			</sales_convert_quote_payment>
		</fieldsets>
		<blocks>
			<slirx_paymentmethod>
				<class>SliRx_PaymentMethod_Block</class>
			</slirx_paymentmethod>
		</blocks>
		<models>
			<slirx_paymentmethod>
				<class>SliRx_PaymentMethod_Model</class>
				<resourceModel>slirx_paymentmethod_resource</resourceModel>
			</slirx_paymentmethod>
			<slirx_paymentmethod_resource>
				<class>SliRx_PaymentMethod_Model_Resource</class>
			</slirx_paymentmethod_resource>
		</models>
		<resources>
			<slirx_paymentmethod_setup>
				<setup>
					<module>SliRx_PaymentMethod</module>
				</setup>
			</slirx_paymentmethod_setup>
		</resources>
		<helpers>
			<slirx_paymentmethod>
				<class>SliRx_PaymentMethod_Helper</class>
			</slirx_paymentmethod>
		</helpers>
	</global>
	<default>
		<payment>
			<test_payment_method>
				<active>1</active>
				<model>slirx_paymentmethod/testPaymentMethod</model>
				<order_status>processing</order_status>
				<title>SliRx Test Payment</title>
			</test_payment_method>
		</payment>
	</default>
</config>
